<!-- templates/index.html -->
{% extends "base.html" %}
{% block content %}
<h1>Vente Semences de Porcs</h1>
<h3>Payment:</h3>
<h2>+243 816709903</h2>
<h2>+243 893263788</h2>
<h2>+243 999535841</h2>
<p>TAP TAP send pour les eleveur à l'étranger</p>
<div class="row">
    {% for pig in pig_types %}
   <!-- Example card for each pig type -->
<div class="col-xl-6 col-lg-6">
    <div class="card-style-5 mb-30">
        <div class="card-image">
            <a href="#0">
                <img src="{{ url_for('static', filename='assets/images/pig/' ~ pig.name|lower ~ '.jpeg') }}" alt="{{ pig.name }}" />
            </a>
        </div>
        <div class="card-content">
            <h4><a href="#0">{{ pig.name }}</a></h4>
            <p>{{pig.price}}</p>
            <p>{{ pig.description }}</p>
            
            <a href="{{ url_for('order', pig_type_id=pig.id) }}" class="main-btn primary-btn btn-hover">Order Now</a>
        </div>
    </div>
</div>
    <!-- end col -->
    {% endfor %}
</div>
{% endblock %}
